.case-studies {
  @include flex-space-between;
  @include border-shadow;
  background-color: $color-secondary;

  &__item {
    padding: 4.375rem 3.75rem;
  }

  &__text {
    max-width: 17.875rem;
    color: $color-font-secondary;
  }

  &__learn-more {
    display: flex;
    gap: 0.9375rem;
    margin-top: $base-spacing;
    color: $color-primary;
  }
}

@media screen and (max-width: 1399px) {
  .case-studies {
    @include flex-column;
    max-width: clamp(20rem, 100%, 30rem);
    margin: 0 auto;

    & > img {
      display: none;
    }

    &__item {
      padding: 3.125rem;
      align-self: center;
    }

    &__item:nth-child(1),
    &__item:nth-child(3) {
      display: none;
    }
  }
}
