.companies {
  @include flex-space-between;

  img {
    filter: grayscale(100%);
  }
}

@media screen and (max-width: 1399px) {
  .companies {
    gap: $base-spacing;
    flex-wrap: wrap;
    justify-content: center;
  }
}
