@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin border-shadow {
  border: 1px solid $color-secondary;
  box-shadow: 0 5px 0 0 $color-secondary;
  border-radius: $border-radius-l;
}

@mixin button-hover {
  &:hover {
    background-color: grayscale($color-primary);
    color: $color-font-primary;
    transition: all 0.3s;
  }
}
