.team {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
  }

  .team-member {
    max-width: 24.1875rem;
    @include border-shadow;

    &__wrapper {
      padding: 2.1875rem 2.5rem;
    }

    &__header {
      display: flex;
      gap: 1.25rem;
      position: relative;
      align-items: flex-end;

      img {
        width: 6.1137rem;
      }

      h4 {
        font-weight: 500;
      }

      .linkedin {
        position: absolute;
        top: 0;
        right: 0;
        width: 2.125rem;
      }
    }

    &__divider {
      margin: 1.75rem 0;
    }

    &__text {
      line-height: 1.4356rem;
    }
  }

  .team__button {
    display: flex;
    justify-content: flex-end;

    a {
      margin-top: 2.5rem;
      padding: 1.25rem 4.75rem;
    }
  }
}
