.team {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
  }

  .team-member {
    max-width: 24.1875rem;
    @include border-shadow;

    &__wrapper {
      padding: 2.1875rem 2.5rem;
    }

    &__header {
      display: flex;
      gap: $base-spacing;
      position: relative;
      align-items: flex-end;

      img {
        width: 6.1137rem;
      }

      .linkedin {
        position: absolute;
        top: 0;
        right: 0;
        width: 2.125rem;
      }
    }

    &__divider {
      margin: 1.75rem 0;
    }

    &__text {
      line-height: 1.4356rem;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;

    a {
      margin-top: 2.5rem;
      padding: $base-spacing 4.75rem;
    }
  }
}

@media screen and (max-width: 1279px) {
  .team {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    &__button {
      display: flex;
      justify-content: center;

      a {
        width: clamp(20rem, 100%, 30rem);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .team {
    &__list {
      grid-template-columns: 1fr;
      justify-items: center;

      .team-member {
        max-width: 100%;
      }
    }
  }
}
