.testimonials {
  @include flex-column;
  background-color: $color-secondary;
  @include border-shadow;
  overflow: hidden;

  .review {
    display: flex;
    gap: 3.125rem;
    margin-top: 5.25rem;
    position: relative;

    &__card {
      flex: 0 0 50%;
      position: relative;
      &:first-child {
        margin-left: -29%;
      }
    }

    &__text {
      background-image: url("../img/testimonials/bubble.svg");
      background-size: contain;
      background-repeat: no-repeat;
      padding: 3rem 3.25rem 5rem;

      p {
        color: $color-font-secondary;
        z-index: 1;
      }
    }

    &__author {
      padding: $base-spacing 5rem 0;

      p {
        color: $color-tertiary;
      }

      p:first-child {
        color: $color-primary;
      }
    }
  }

  &__slider-navigation {
    align-self: center;
    @include flex-space-between;
    width: 100%;
    max-width: 35.25rem;
    margin: 7.75rem 0 3.75rem;

    button {
      background-color: $color-secondary;
    }
  }

  &__dots {
    @include flex-center;
    gap: 1.1875rem;
  }
}

@media screen and (max-width: 1399px) {
  .testimonials {
    .review {
      padding: 1.875rem;
      margin-top: 0;
      justify-content: center;

      &__card {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: none;
        }
      }
      &__text {
        background-image: url("../img/testimonials/bubble-mob.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 20.625rem;
        padding: 1.875rem 1.875rem 4.8125rem;

        p {
          color: $color-font-secondary;
          z-index: 1;
        }
      }

      &__author {
        padding: $base-spacing 5rem 0;
        p {
          color: $color-tertiary;
        }

        p:first-child {
          color: $color-primary;
        }
      }
    }

    &__slider-navigation {
      align-self: center;
      @include flex-space-between;
      width: 100%;
      max-width: 20.625rem;
      margin: 3.75rem 0;
    }
  }
}
