.working-process {
  @include flex-column;
  gap: 1.875rem;

  .wp-item {
    @include flex-column;
    @include border-shadow;
    background-color: $color-primary;

    &__wrapper {
      padding: 2.5625rem 3.75rem;
    }

    &__header {
      @include flex-center;
      gap: 1.25rem;

      &__wrapper {
        @include flex-space-between;

        img {
          cursor: pointer;
        }
      }

      h2 {
        font-size: $h1-font-size;
        line-height: $h1-line-height;
      }
    }

    &__divider {
      margin: 1.875rem 0;
    }

    &--collapsed {
      @include border-shadow;
      background-color: $color-tertiary;
      .wp-item__divider,
      .wp-item__text {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1399px) {
  .working-process {
    align-items: center;
    .wp-item,
    .wp-item--collapsed {
      border-radius: $border-radius-l;
      max-width: clamp(20rem, 100%, 40rem);
      width: 100%;

      &__wrapper {
        padding: 1.875rem;
      }

      &__header {
        gap: 1.875rem;
        h2 {
          font-size: $h2-font-size-mob;
          line-height: $h2-line-height-mob;
        }

        h3 {
          font-size: $h4-font-size-mob;
          line-height: $h4-line-height-mob;
        }
      }

      &__expand {
        width: 100%;
        max-width: 30px;
      }
    }
  }
}
